doctype html  
html(lang="en")  
  head  
    meta(charset="UTF-8")  
    meta(name="viewport", content="width=device-width, initial-scale=1.0")  
    title On Premises  
    link(rel="stylesheet", href="style.css")  
  body  
    h1 On Premises  
    div#messages  
    div  
      input#message-input(type="text", placeholder="Type your message here...")  
      button#send-button Send  
    script(src="client.js")